.main {
  min-height: 100vh;
  align-items: center;
  background-color: white;
  perspective: 300px;
}

.answerCount {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Manrope";
}

.cardContainer {
  width: 70%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  min-height: 700px;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 30px;
}

.easy {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.middle {
  width: 25%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hard {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cardContent {
  width: 200px;
  height: 200px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  cursor: not-allowed;
}
.cardCheckedContent {
  width: 200px;
  height: 200px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}

.cardShow {
  visibility: visible;
}

.cardHide {
  visibility: hidden;
}

.cardForbidden {
  cursor: not-allowed;
  visibility: visible;
}

.fail {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  position: absolute;
}
.success {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
